/* All styles for your header Components live here */
.HeaderContainer {
  display: flex;

  flex-wrap: wrap;
}
.img {
  width: 75px;
  height: 75px;
  padding: 0 5px;
}

.HeaderContent {
  display: flex;
}
.HeaderContent p {
  margin: 10px 80px;
}
.HeaderTitle {
  display: flex;
  padding: 0 5px;
  align-items: center;
}

.HeaderTitle h3 {
    padding: 0 5px;
}
